<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>

<h2>Login</h2>

<form action="http://localhost:3000/users/signup/" method="post">
  <div>
    <label for="email">Enter your email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
  </div>
  <div>
    <label for="password">Enter your Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
  </div>
  <button type="button" onclick="submitForm()">Login</button>
  <p id="message"></p>
</form>

<script>
    function submitForm() {
      const formData = {
        email: document.getElementById('email').value,
        password: document.getElementById('password').value,
      };
    let generatedData;
      fetch('http://localhost:3000/users/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      })
      .then(response => { generatedData = response.status + " "; return response.json();})
      .then(data => {
        //data.message 
        generatedData += data.message
        document.getElementById('message').innerText = generatedData
        if(data.login)
        window.location.href = 'addExpense.html';
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
    </script>
    
</body>
</html>
